<div class="article">
  <p class="engis">
    <%= image_tag "engi/04.jpg", class: "eng", id: "eng1"%>
    <%= image_tag "engi/05.jpg", class: "eng" %>
    <%= image_tag "engi/06.jpg", class: "eng" %>
    <%= image_tag "engi/2011-09-29_12.39.24.jpg", class: "eng" %>
    <%= image_tag "engi/dscf4921.jpg", class: "eng" %>
    <%= image_tag "engi/dscf5007.jpg", class: "eng" %>
    <%= image_tag "engi/dscf6681.jpg", class: "eng" %>
  </p>
  <p>
    <%= button_tag "Previous", id: "prev" %>
    <%= button_tag "Next", id: "next" %>
  </p>
  <h1>
    Hello from home
    <div class="seperator"></div>
  </h1>



  <p>Hello! How did you find this place? </p>

</div>
