<!DOCTYPE html>
<html>
<head>
  <title>House Friedman</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="header">
    <!-- <a href="#" class="logo">
      Almog Friedman
    </a> -->

    <%= image_tag 'logo/logo.png', id: "logo"%>


    <div class="lang-bar">
      <a href="#"><%= image_tag 'lang/en.png', class: 'lang'%></a>
      <a href="#"><%= image_tag 'lang/he.png', class: 'lang'%></a>
      <a href="#"><%= image_tag 'lang/ar.png', class: 'lang'%></a>
    </div>
  </div>


    <div id="nav" class="nav nav-abs">
      <%= image_tag 'logo/logosmall.png', id: "logo-small", class: 'logo-hide'%>
      <div class="nav-center">
        <span class="nav-link"><%= link_to 'Home', root_path %></span>
        <span class="nav-link"><%= link_to 'About Us', pages_about_path%></span>
        <span class="nav-link"><%= link_to 'Services', pages_index_path %></span>
        <span class="nav-link"><a href="#">Projects</a></span>
        <span class="nav-link"><a href="#">Contact Us</a></span>
      </div>
    </div>
  <div class="push"></div>
  <div class="body">
    <%= yield %>
  </div>

  <div class="footer">
    <small class="copyright">
      &copy All rights reserved to Almog Friedman 2016. See <a href="#">contact</a> page for more info
    </small>
  </div>
</div>
</body>
</html>
